.Class_Chrono_fond {
    position: absolute;
    top: 10px;
    right: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 3px solid black;
    width: 25vw;
    min-width: 132px;
    padding-left: 10px;
    max-width: 220px;
    box-sizing: border-box;
    border-radius: 10px;
    height: 59px;
    background: linear-gradient(#ececec 2%, #76c92b 20%, #54bf36 60%, #692216);
}

.Class_Text_Gauche {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Class_Chrono_Droit {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
