body {
    margin: 0;
    background-image: url("/images/Stickmania_1.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
  }
  
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .App img {
    width: 200px;      /* Adaptable */
    height: auto;
    border-radius: 8px;
  }